body {
  padding-top: 50px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.weathTable{
    width: 50%;
    margin: 0 auto;
}

.data{
	width: 50%;
	height: 100%;
	float: left;
	border-bottom: solid 1px;
	margin-left: 15%;
}

.data1{
	background: yellow;
}

.location{
	width: 100%;
	text-align: center;
	position: center;
}
