<<<<<<< HEAD

body{
	font: 400 12px/1.625 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbarextra{
	margin-bottom: 0%;
	padding-bottom: 0%;
}
#media{
    opacity:0.8;
    position:relative;
    width:100%;
    height:900px;
    top:0px;
    z-index:1;
    background-color: black;
}
#title{
	text-align: center;
/*	padding-top:3%;
	margin-top: 50px;
	color: #1F1F21;*/
}
#title > p {
	text-align: center;	
	font-weight: 300;
	width: 100%;	
	margin: 0;
}
#title2{
/*  text-align: center;
  width: 100%;
  margin: auto;
  font-size:  10vh*/
	margin-top: 50px;
	color: #1F1F21;
}

#title > p {
	font-weight: 300;
	margin: 0;
}

#title > #name {
	font-size: 40px;
	color: #1F1F21;
}

#title > #tagline {
	font-size: 25px;
	color: #BDBEC2;
}

.panel-login {
	margin-top: 50px;
}

.panel-login > .panel-heading {
	text-align: center;
}

.panel-login > .panel-heading a{
	text-decoration: none;
	color: #BDBEC2;
	font-weight: normal;
	font-size: 15px;
}

.panel-login > .panel-heading a.active{
	color: #007AFF;
}

.panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
	height: 50px;
	border: 1px solid #C7C7CC;
	font-size: 15px;
}

.panel-login input:hover, .panel-login input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.btn-login {
	background-color: #007AFF;
	outline: none;
	color: #fff;
	font-size: 15px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #0069DC;
}

.btn-register {
	background-color: #007AFF;
	outline: none;
	color: #fff;
	font-size: 15px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
}

.btn-register:hover, .btn-register:focus {
	color: #fff;
	background-color: #0069DC;
}