<!DOCTYPE html>
<html>
<head>
		<title>Dashboard</title>
</head>
<body>
		<form action="" method="post">
			<input type="text" name="firstName" placeholder="firstName"><p>
			<input type="text" name="lastName" placeholder="lastName"><p>
			<input type="password" name="password" placeholder="Password"><p>
			<input type="password" name="passwordVerify" placeholder=" Retype Password"><p>
			<input type="text" name="email" placeholder="Email"><p>
			<input type="submit" value="Register">
		</form>
</body>
</html>